:root {
  /* #326856 */
  --primary: #77a897;
  --dark-primary: #242526;
  --dark-background: #18191a;
  --dark-secondary: #3e4042;
  /* --primary: #1ebbd7; */
  --text-light: #fff;
}

.navbar {
  background-color: var(--primary);
}

.navbar .nav-link {
  color: var(--text-light);
}

.navbar-brand img {
  max-width: 150px;
  height: auto;
}
a {
  text-decoration: none;
  color: #000;
}

.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  background-color: var(--primary);
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: var(--primary);
}
/* login */
.login-section {
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px 10px;
  background: #77a897;
  border-radius: 10px;
}
.login h1 {
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

.login input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: rgb(0, 0, 0);
  border-radius: 4px;
}
.login .btn.btn-primary {
  width: max-content;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #fff !important;
  color: #77a897 !important;
  border: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 10px;
}
.login .btn-primary:hover,
.login .btn-primary:focus,
.login .btn-primary:not(:disabled):not(.disabled):active,
.login .btn-primary:not(:disabled):not(.disabled):active:focus,
.login .btn-primary:active:hover {
  color: #fff !important;
  background-color: #c4c4a0 !important;
}

.btn {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  margin: 10px 1px;
  border: none;
  border-radius: unset;
  padding: 11px 22px;
  background-color: #888888;
  color: #ffffff;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: var(--primary);
  color: #ffffff !important;
}
.btn.btn-primary a {
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:active:hover {
  background-color: #326856 !important;
  color: #ffffff;
  box-shadow: none;
}
.login-link {
  font-size: 0.8rem;
  line-height: 3.5rem;
  color: #fff;
}
footer {
  background-color: var(--primary);
}
.dark--mode footer {
  background-color: var(--dark-primary);
  color: #fff;
}
/* home */
.home {
  margin: 30px 0;
  padding: 20px;
  height: 100%;
}
.home .posts {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.home .posts h1 {
  color: var(--primary);
}
.home .posts .post {
  display: flex;
  gap: 100px;
}
.home .posts .post:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.home .posts .post .img {
  flex: 2;
  position: relative;
}
.home .posts .post .img::after {
  content: "";
  width: 100%;
  height: 100%;
  max-height: 400px;
  background-color: var(--primary);
  position: absolute;
  top: 20px;
  left: -20px;
  z-index: -1;
}
.home .posts .post .img img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  height: 100%;
}
.home .posts .post .content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .posts .post .content h1 {
  font-size: 48px;
}
.home .posts .post .content p {
  font-size: 18px;
}
.home .posts .post .content button {
  width: max-content;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid teal;
  color: teal;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.home .posts .post .content button:hover {
  border: 1px solid #000;
  background-color: var(--primary);
  color: #fff;
}
a.link h1:hover {
  color: var(--primary);
}

/* create section */
.create-section {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.create-section .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create-section .content input {
  padding: 10px;
  border: 1px solid lightgray;
}
.create-section .content .editor-wrap {
  height: 300px;
  overflow: scroll;
  border: 1px solid lightgray;
}
.create-section .content .editor-wrap .quill {
  height: 100%;
  border: none;
}
.create-section .menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create-section .menu .item {
  border: 1px solid lightgray;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
}
.create-section .menu .item h1 {
  font-size: 20px;
}
.create-section .menu .item .file {
  text-decoration: underline;
  cursor: pointer;
}
.create-section .menu .item .buttons {
  display: flex;
  justify-content: space-between;
}
.create-section .menu .item .buttons :first-child {
  cursor: pointer;
  color: teal;
  background-color: white;
  border: 1px solid teal;
  padding: 3px 5px;
}
.create-section .menu .item .buttons :last-child {
  cursor: pointer;
  color: white;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  padding: 3px 5px;
}
.create-section .menu .item .buttons :last-child:hover {
  background-color: #326856;
  border: 1px solid #326856;
}

.create-section .menu .item .cat {
  display: flex;
  align-items: center;
  gap: 2px;
  color: teal;
}

/* detail */
.single {
  display: flex;
  gap: 50px;
}
.single .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.single .content img {
  width: 100%;
  height: 300px;
}
.single .content .user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.single .content .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.single .content .user span {
  font-weight: bold;
}
.single .content .edit {
  display: flex;
  gap: 5px;
}
.single .content .edit img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.single .content h1 {
  font-size: 42px;
  color: #333;
}
.single .content p {
  text-align: justify;
  line-height: 30px;
}
.single .menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}
.single .menu h1 {
  font-size: 20px;
  color: #555;
}
.single .menu .post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.single .menu .post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.single .menu .post h2 {
  color: #555;
}
.single .menu .post button {
  width: max-content;
  padding: 7.5px 15px;
  border: none;
  cursor: pointer;
  color: teal;
  background-color: white;
  border: 1px solid teal;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.single .menu .post button:hover {
  border: 1px solid #000;
  background-color: var(--primary);
  color: #fff;
}

.profile-pic img {
  width: 150px;
  height: 150px;
}

/* spinner */
.spinner-widget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #d8dbea;
  background-color: var(--scrollbarBgColor);
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.38);
  background: rgba(0, 0, 0, 0.38);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: inset 0 0 6px transparent;
  border-radius: 15px;
}

/* skeleton */
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}
.skeleton-heading {
  width: 60%;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.15rem;
}
.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}
.skeleton-img {
  background-color: #eee;
  width: 300px;
  height: 150px;
  object-fit: cover;
  margin-right: 1rem;
  flex-shrink: 0;
}
.skeleton-img-full {
  background-color: #eee;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-right: 1rem;
  flex-shrink: 0;
}
.skeleton-img-user {
  background-color: #eee;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  flex-shrink: 0;
}
.skeliton-info {
  height: 50px;
  width: 250px;
  margin-top: 15px;
}
.skeliton-info .skeleton-text {
  width: 150px;
}
.skeliton-info .skeleton-text:first-child {
  width: 100px;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.dropdown-menu {
  display: none;
  -webkit-animation: fade-out 1s;
  animation: fade-out 2s;
}
.dropdown-menu.show {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.dropdown-toggle.show::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}

/* profile-section */
.cover-pic img {
  width: 100%;
  max-height: 600px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.profile-details {
  display: flex;
  gap: 20px;
  padding: 0 50px;
}
.profile-details img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -50px;
}
.btn-container {
  margin-left: auto;
}
.post-icons {
  gap: 3px;
}
.post-icons .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #eee;
}
.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: var(--primary);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
/* .content p {
  width: 100%;
  height: 100%;
} */
.active-content {
  display: block;
}
.d-icon img {
  width: 50px;
  height: 50px;
}
.d-mode-wrapeer {
  gap: 15px;
}
.dark--mode .navbar {
  background-color: var(--dark-primary);
  border-bottom: 1px solid var(--dark-secondary);
}

.dark--mode {
  background-color: var(--dark-background);
}
.dark--mode h1,
.dark--mode p {
  color: #fff;
}
.dark--mode button {
  color: #fff !important;
  border: 1px solid var(--dark-secondary) !important;
  background-color: var(--dark-background) !important;
}
.dark--mode .home .posts .post .img::after,
.dark--mode .home .posts .post .content {
  background-color: var(--dark-primary);
}
.dark--mode .dropdown-menu.show,
.dark--mode .dropdown-menu.show a {
  background-color: var(--dark-background) !important;
  color: #fff !important;
}
.dark--mode .dropdown-menu.show a:hover {
  background-color: var(--dark-primary) !important;
}
.dark--mode .content-tabs .content {
  background-color: var(--dark-background) !important;
  color: #fff;
}
.dark--mode .active-tabs::before {
  background-color: var(--dark-secondary) !important;
}
.dark--mode .profile-details {
  color: #fff;
}
.dark--mode .single .menu,
.dark--mode .single .menu h1,
.dark--mode .single .menu h2 {
  color: #fff;
}
.dark--mode .single .content,
.dark--mode .single .content h1 {
  background-color: var(--dark-background) !important;
  color: #fff !important;
}
.dark--mode .create-section .content {
  background-color: var(--dark-primary) !important;
  color: #fff !important;
}
.dark--mode .create-section .content input {
  background-color: var(--dark-background) !important;
  border: 1px solid var(--dark-secondary);
  color: #fff;
}
.dark--mode .create-section .content .editor-wrap,
.dark--mode .create-section .content .editor-wrap .quill,
.dark--mode .ql-toolbar.ql-snow,
.dark--mode .ql-container.ql-snow,
.dark--mode .menu .item {
  border: 1px solid var(--dark-secondary);
  color: #fff !important;
}
.dark--mode .create-section .menu .item .cat {
  color: #fff;
}
.dark--mode .ql-toolbar.ql-snow .ql-formats .ql-header.ql-picker,
.dark--mode .ql-toolbar.ql-snow .ql-formats button {
  color: #fff !important;
}
.dark--mode .home .posts h1.heading--dark {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .home .posts {
    display: initial !important;
  }
  .home .posts .post {
    display: initial !important;
    margin-top: 30px;
    gap: 0;
  }
  .home .posts .post .img {
    margin-bottom: 20px;
  }
  .home .posts .post .content {
    margin-bottom: 20px;
  }
  .single {
    display: initial;
    gap: 0;
  }
  .single .menu {
    margin-bottom: 20px;
  }
  .create-section {
    display: initial;
    gap: 0;
    margin-bottom: 10px;
  }
  .create-section .content {
    margin-top: 10px;
  }
  .create-section .menu {
    margin-top: 10px;
  }
  .create-section .menu .item:last-child {
    margin-bottom: 10px;
  }
  .profile-details {
    display: initial;
  }
}
